.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-layout__cuerpo {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-layout__contenido {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-background);
  padding: 2rem;
}
